<.sum_with_variable_in_heex a={@a} b={@b} c={@c} />
<.sum_with_variable_in_function a={@a} b={@b} c={@c} />
<.sum_with_modified_assigns a={@a} b={@b} c={@c} />
<.sum_with_inline_computation a={@a} b={@b} c={@c} />
<.sum_with_helper_function a={@a} b={@b} c={@c} />

<p>
  <button type="button" phx-click="increment_a">Increment important variable</button>
</p>
<p>
  <button type="button" phx-click="increment_c">Increment inconsequential variable</button>
</p>
